# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
robotiina
wheelemulator

# CLion
.idea/
# Visual Studio
Debug/
ipch/
*.opensdf
*.sdf
*.suo
*.vcxproj.user

# conf
conf/*.ini
*.TMP
CMakeFiles/*
CMakeCache.txt
*.cmake
Makefile
robotiina
videos/*

# backup
*.cpp~
*.h~
test_images/
Release/
distance_conf.ini
